

.container {
text-align: center;
background-color: lightpink;
font-family: 'Josefin Sans', sans-serif;
color: deeppink;

}

.font {
    
}

.footer { 
    padding: 300px;
    background-color: blue;
    color: pink;
}

//insert media queries 
